.container-fluid {
  .ppt-generator {
    .display {
      .slide-wrapper {
        display: flex;
        justify-content: space-between;
        img {
          width: 100%;
        }
        button {
          width: 100%;
          height: 55px;
        }
      }
      .card {
        margin-bottom: 10px;

        h5.card-header {
          margin-bottom: 0;
        }
        .card-body {
          img {
            width: 28%;
            display: flex;

            margin: 0 auto 10px auto;
          }
          span.text-uppercase {
            display: block;
          }
        }
      }
    }
    .requirement-form {
      button {
        height: 55px;
      }

      .upload {
        display: inline-flex;
        padding: 0 0 40px;
        width: 45%;

        .file-name {
          margin-left: 10px;
          margin-top: 8px;
        }
      }
      .add-slide {
        margin-bottom: 30px;
        &:hover {
          border: 1px solid #007bff;
        }
      }
      .button-group {
        display: flex;
        justify-content: space-between;
        button {
          width: 45%;
        }
      }
    }
  }
}

.upload {
  font-weight: bold;
  color: #28a745;
  margin-left: 15px;
  line-height: 36px;
}

//Apply styles starting from medium devices
@media (min-width: 768px) {
  .container-fluid {
    .ppt-generator {
      .display {
        .slide-wrapper {
          .card {
            h5.card-header {
            }
            .card-body {
              span.text-uppercase {
                display: inline-block;
              }
            }
          }
        }
      }
      .requirement-form {
        .mesurement {
          display: flex;
          justify-content: space-between;
          mat-form-field {
            width: 45%;
          }
        }
      }
    }
  }
}
