.container-fluid {
  .ppt-generator {
    .display {
      .slide-wrapper {
        display: flex;
        justify-content: space-between;
        img {
          width: 100%;
        }
      }
      .card:nth-child(odd) {
        margin-right: 10px;
      }
    }
    .requirement-form {
      mat-form-field {
        width: 100%;
      }
    }
  }
}
